@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}

@media screen and (min-width: 80rem) {
  .responsive-hero {
    margin: 1em 2em;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h1 {
  font-size: calc(1.5rem + 3vw);
}
